## 验证码识别

In [42]:
import selenium
import lxml
import pyquery
import pytesseract
import muggle_ocr

In [5]:
sdk = muggle_ocr.SDK(model_type=muggle_ocr.ModelType.Captcha)

with open(r"/Users/idealab/Desktop/资产定价/爬虫与机器学习/爬虫/爬虫day1/验证码.png", "rb") as f:
    img = f.read()

text = sdk.predict(image_bytes=img)
print(text)

2023-07-01 22:26:20.462110: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:375] MLIR V1 optimization pass is not enabled

MuggleOCR Session [captcha] Loaded.
3n3d

In [6]:
with open(r"/Users/idealab/Desktop/资产定价/爬虫与机器学习/爬虫/爬虫day1/验证码2.jpeg", "rb") as f:
    img = f.read()
text = sdk.predict(image_bytes=img)
print(text)

s3zj

In [7]:
with open(r"/Users/idealab/Desktop/资产定价/爬虫与机器学习/爬虫/爬虫day1/验证码3.png", "rb") as f:
    img = f.read()
text = sdk.predict(image_bytes=img)
print(text)

kxff

## mysql数据存储

In [2]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql

In [38]:
df=pd.DataFrame({'水果':['苹果','梨','草莓'],
       '数量':[3,2,5],
       '价格':[10,9,8],
        '颜色':['红色','黄色','粉色']})
engine = create_engine("mysql+pymysql://root:password@localhost:3306/studb?charset=utf8")
eng=engine.connect()
df.to_sql("some", engine, schema="studb", if_exists='replace', index=False,
            chunksize=None, dtype=None)
eng.close()
df

   水果  数量  价格  颜色
0  苹果   3  10  红色
1   梨   2   9  黄色
2  草莓   5   8  粉色

In [39]:
import pymysql
conn = pymysql.connect(host="localhost",port=3306,user="root",
                       password=password,database="studb",charset="utf8")
sql = "select * from some;"
df1 = pd.read_sql(sql,conn)
conn.close()

/Users/idealab/Library/Python/3.9/lib/python/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [40]:
df1

   水果  数量  价格  颜色
0  苹果   3  10  红色
1   梨   2   9  黄色
2  草莓   5   8  粉色

## cookie

In [44]:
import requests

headers = {
    'User-Agent': 'Mozilla/5.0 (WindowsNT 10.0; WOW64) AppleWebKit/537.36 '
                  '(KHTML, like Gecko)Chrome/75.0.3770.90 Safari/537.36'
}
url = 'http://httpbin.org/get'
result = requests.get(url,headers=headers)
print(result.text)
print(result.status_code)

{
  "args": {},
  "headers": {
    "Accept": "*/*",
    "Accept-Encoding": "gzip, deflate",
    "Host": "httpbin.org",
    "User-Agent": "Mozilla/5.0 (WindowsNT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko)Chrome/75.0.3770.90 Safari/537.36",
    "X-Amzn-Trace-Id": "Root=1-64a117f7-4b0252477af6b6c639001bba"
  },
  "origin": "104.245.14.249",
  "url": "http://httpbin.org/get"
}

200

In [46]:
print(result.cookies)

<RequestsCookieJar[]>

In [53]:
import requests

headers = {
    'User-Agent': 'Mozilla/5.0 (WindowsNT 10.0; WOW64) AppleWebKit/537.36 '
                  '(KHTML, like Gecko)Chrome/75.0.3770.90 Safari/537.36'
}
#url = 'https://www.baidu.com'
url = 'http://httpbin.org/cookies/set/cookie/123456'
result = requests.get(url,headers=headers,timeout=1)
print(result.text)
print(result.status_code)
print(result.cookies)

{
  "cookies": {
    "cookie": "123456"
  }
}

200
<RequestsCookieJar[]>

## selenium

In [129]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

browser = webdriver.Chrome()
browser.get('https://www.baidu.com')   
#print(browser.page_source)  # 获取网页源码
#browser.find_element(By.XPATH,'//*[@id="hotsearch-content-wrapper"]/li[2]/a/span[2]').text
wes=browser.find_elements(By.CLASS_NAME,'title-content-title')
for i in wes:
    print(i.text)
    print(i.tag_name)
#//*[@id="hotsearch-content-wrapper"]/li[2]/a/span[2]

browser.find_element(By.CLASS_NAME, 's_ipt').send_keys('爬虫')
time.sleep(1)
browser.find_element(By.CLASS_NAME, 's_ipt').clear()
browser.find_element(By.ID,'su').click()
time.sleep(1)
browser.execute_script('window.open()')
browser.switch_to.window(browser.window_handles[1])
browser.get('https://www.zhihu.com/signin?next=%2F')
browser.quit()

同心共进向未来
span
解码火箭一箭多星发射
span
中国女篮亚洲杯击败日本队夺冠
span
女篮亚洲杯夺冠次数追平韩国并列第1
span
西安交大校长雨中致辞党委书记撑伞
span
大鹏全麻前最后一瞬遭遇暴击
span

## 豆瓣250爬取

In [166]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
name=[]
rank=[]
score=[]
comment=[]
for i in range(10):
    browser = webdriver.Chrome()
    browser.get('https://movie.douban.com/top250?start={}&filter='.format(str(25*i)))
    for j in browser.find_elements(By.CLASS_NAME,'hd'):
        name.append(j.text)
    for j in browser.find_elements(By.CLASS_NAME,'rating_num'):
        rank.append(j.text)
    for j in range(1,26):
        score.append(browser.find_element(By.XPATH,'//*[@id="content"]/div/div[1]/ol/li[{}]/div/div[2]/div[2]/div/span[4]'.format(j)).text)
    for j in range(1,26):
        try:
            comment.append(browser.find_element(By.XPATH,'//*[@id="content"]/div/div[1]/ol/li[{}]/div/div[2]/div[2]/p[2]/span'.format(j)).text)
        except:
            comment.append(np.nan)
    browser.quit()

In [170]:
pd.DataFrame({"name":name,"rank":rank,"score":score,"comment":comment}).to_csv('/Users/idealab/Desktop/资产定价/爬虫与机器学习/爬虫/豆瓣.csv',index=None)